kagidocs-app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  kagidocs-app > app-component-sidenav {
    flex: 1;
  }
  
  kagidocs-app > app-homepage,
  kagidocs-app > app-guides,
  kagidocs-app > guide-viewer {
    overflow-y: auto;
  }
  
  @media (max-width: 720px) {
    kagidocs-app {
      top: 92px;
    }
  
    kagidocs-app > app-homepage,
    kagidocs-app > app-guides,
    kagidocs-app > guide-viewer {
      overflow-y: visible;
    }
  }